@use "../../node_modules/sass-rem/rem"as *;
@use "../vendors/bootstrap"as *;

/* Start The Compenent Carousel */
.carousel {
  &-item {
    @include media-breakpoint-up(lg) {
      margin: {
        right: 0 !important;
      }

      padding: {
        bottom: 0 !important;
      }
    }
  }

  &-indicators {
    [data-bs-target] {
      width: rem(10px);
      height: rem(10px);
    }

    button {
      &.active {
        background: {
          color: $primary !important;
        }
      }
    }
  }
}

/* End The Compenent Carousel */