@use "../abstracts/variables"as *;

/* Transition Mixin */
@mixin transition-mixin($properties...) {
  transition: $properties;
}

/* Ganerate Background Colors */

@mixin gen-bg-or-text-color($prefix, $propertie) {
  @if ($prefix=="bg"and $propertie=="background-color") {

    @each $color-name,
    $color in $color-bg {
      .#{$prefix}-#{$color-name} {
        #{$propertie}: #{$color} !important;
      }
    }
  }

  @else if ($prefix=="text"and $propertie=="color") {

    @each $color-name,
    $color in $color-text {
      .#{$prefix}-#{$color-name} {
        #{$propertie}: #{$color} !important;
      }
    }
  }
}

/* Center With Flex */
@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Center With Position Absolute */
@mixin center-position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}